<div class="delete-spellcasting-dialog selection"> 
  <div style="margin-bottom: 17px;">
      <label>{{localize "XPRPG.DeleteSpellcastEntryQuestion"}}</label>
  </div>
  <div style="margin-bottom: 5px;">
      <label>{{localize "XPRPG.DeleteSpellcastEntryWarning"}}</label>
  </div>
</div>
