<p>
  {{localize "XPRPG.SETTINGS.WorldClock.ResetWorldTime.Confirm.Question"}}
  <ul>
    <li>{{localize "XPRPG.SETTINGS.WorldClock.ResetWorldTime.Confirm.Warning1"}}</li>
    <li>{{localize "XPRPG.SETTINGS.WorldClock.ResetWorldTime.Confirm.Warning2"}}</li>
  </ul>
</p>
