<div class="tab effects actions-pane" data-group="primary" data-tab="effects">
    <h3 class="header">{{localize "XPRPG.ConditionsLabel"}}</h3>
    <ol class="effects-list directory-list item-list">
        {{> "systems/xprpg/templates/actors/partials/conditions.hbs" conditions=document.itemTypes.condition}}
    </ol>

    <h3 class="header">{{localize "XPRPG.EffectsLabel"}}</h3>
    <ol class="effects-list directory-list item-list">
        {{> "systems/xprpg/templates/actors/partials/conditions.hbs" conditions=document.itemTypes.effect}}
    </ol>
</div>
