<div class="tab biography" data-group="primary" data-tab="description">
    <section class="biography-details">
        <div class="biography-content">
            <label class="details-label">{{localize "XPRPG.vehicle.DescriptionHeading"}}</label>
            <span class="biography-content" title="{{localize "XPRPG.vehicle.DescriptionHeading"}}">
                {{editor data.details.description target="system.details.description" button=true owner=owner editable=editable}}
            </span>
        </div>
    </section>
</div>
